* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primaryBlack: #222;
$primaryGreen: #82b340;
$primaryWhite: #fff;
$primaryGrey: #ececec;

body {
  background-color: $primaryWhite;
  color: $primaryBlack;
  font-family: "Open Sans", sans-serif;
}
